*

!.gitignore

!fish/
!fish/**
!alacritty/
!alacritty/**
!kitty/
!kitty/**
!wezterm/
!wezterm/**

!git/
!git/**

!nvim/
!nvim/**
!vim/
!vim/**

!niri/
!niri/**
!Olympus/
!Olympus/**
!noctalia/
!noctalia/**

!dconf/**
!dconf/

!audio/
!audio/**

!README.md
